<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="com.landhightech.util.DBCPDataSourceFactory">
				
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/landhightech/bean/UserMapper.xml" />
		<mapper resource="com/landhightech/bean/NotifyRecordMapper.xml" />
	</mappers>


</configuration> 